*,
*::before,
*::after {
    box-sizing: border-box;
}

.mainWrap {
    padding: 50px;
    display: flex;
}

canvas {
    border: 1px solid black;
}

.controls {
    margin-left: 50px;
}

p {
    font-size: 18px;
}

span {
    font-weight: bold;
}
